@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

.ContFreccia {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.FrecciaGiu {
    width: 10%!important;
}

.FrecciaGiu:hover {
    transition: 0.5s;
    width: 15%!important;
}

html {
    scroll-behavior: smooth;
  }

.cont {
    background-color: black;
}

.menu {
   color: white;
   margin-top: 15px;
   font-size: 30px;
   font-weight: bold;
}

.menu:hover {
    color: black!important;
    transition: 1s;
}

.navbar-toggler {
    margin-top: 10px;
}

.navbar-toggler:hover {
    background-color: white!important;
    transition: 1s;
}

.titolo {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.navB {
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 5px!important;
}

.LogoTitolo {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.text {
    color: white;
    width:  120px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 40px;
    font-size: 15px;
}

.text:hover {
    transition: 1s!important;
    font-weight: bold;
    color: white;
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.activetext {
    color: white;
    width:  170px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 40px;
    font-size: 20px;
    text-decoration: underline rgba(255, 255, 255, 0.389) 2px!important;
}

.activetext:hover {
    color: white;
    transition: 1s;
    text-decoration: underline white 2px!important;
}

.Link {
    margin-right: 22%;
}

.introImm {
    display: inline-block;
    width: 35%;
    height: 600px;
    margin-left: 100px;
}

.introImmMD {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.introTit {
    display: inline-block;
    justify-content: center;
    width: 55%;
    height: 600px;
    margin-top: 100px;
}

.introTitMD {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 0px;
}

.tit {
    display: flex;
    justify-content: center;
    align-items: center!important;
    color: white;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titMD {
    display: flex;
    justify-content: center;
    align-items: center!important;
    color: white;
    font-size: 60px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttMD {
    display: inline-block;
    justify-content: center;
    width: 100%;
}

button {
    --glow-color: rgb(1, 139, 219);
    --glow-spread-color: rgba(0, 65, 163, 0.781);
    --enhanced-glow-color: rgb(206, 227, 255);
    --btn-color: rgb(6, 0, 95);
    border: .25em solid var(--glow-color);
    cursor: pointer;
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 50px!important;
    margin-left: 20%!important;
    border-radius: 50px!important;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2.5em);
    opacity: 1;
    transform: perspective(1.5em) rotateX(-35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    transform: scale(0.95);
   }



   button2 {
    --glow-color: rgb(1, 139, 219);
    --glow-spread-color: rgba(0, 65, 163, 0.781);
    --enhanced-glow-color: rgb(206, 227, 255);
    --btn-color: rgb(6, 0, 95);
    border: .25em solid var(--glow-color);
    cursor: pointer;
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 50px!important;
    margin-left: 20%!important;
    border-radius: 50px!important;
  }
  
  button2::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2.5em);
    opacity: 1;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  button2 svg {
    transform: translateX(10px);
    transition: transform .3s ease-in-out;
  }
  
  button2:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }
  
  button2:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    transform: scale(0.95);
  }
  
  button2:hover svg {
    transform: translateX(20px) rotate(90deg) scale(1.5)!important;
  }
  
  

.autore {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.autoreMD {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.sottoAutoreMD {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.immIntro {
    margin-left: 200px;
}

.sfondoHome {
    background-image: url("../images/CodiceHome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 200px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5!important;
}

.imm {
    height: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 300%;
}

.Intro {
    color: white;
    font-weight: bold!important;
}

.Intro:hover {
    color: white;
    transition: 1s;
    font-size: 70px;
}

.textVAI {
    color: white;
    font-weight: bold;
    width:  400px;
    height: 80px;
    text-align: center;
    border-radius: 40px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    animation-duration: 2s;
}

.textVAI:hover {
    color: black;
    background-color: white;
    transition: 1s;
    text-decoration: underline 3px;
}

/* card */
.card1 {
    position: relative;
    width: 450px;
    height: 500px;
    color: black;
    background: black;
    overflow: hidden;
    border-top-right-radius: 50px!important;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 50px!important;
    padding: 6px 12px;
    color: black;
    background-color: black;
  }
  
  .card_title {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    height: 150px;
  }
  
  .card1:hover .card_content {
    transform: translateY(0);
  }
  
  .card1:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }

/* Button card JSON */
buttonJSON {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonJSON.learn-more {
    width: 400px;
    height: auto;
}
   
buttonJSON.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #616161;
    border-radius: 1.625rem;
}
   
buttonJSON.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonJSON.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonJSON.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonJSON.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonJSON:hover .circle {
    width: 100%;
}
   
buttonJSON:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonJSON:hover .button-text {
    color: #fff;
}

/* Button card XML */
buttonXML {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonXML.learn-more {
    width: 400px;
    height: auto;
}
   
buttonXML.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: orangered;
    border-radius: 1.625rem;
}
   
buttonXML.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonXML.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonXML.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonXML.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonXML:hover .circle {
    width: 100%;
}
   
buttonXML:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonXML:hover .button-text {
    color: #fff;
}

/* Button card JS AVANZATO */
buttonJS {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonJS.learn-more {
    width: 400px;
    height: auto;
}
   
buttonJS.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: yellow;
    border-radius: 1.625rem;
}
   
buttonJS.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonJS.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonJS.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonJS.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonJS:hover .circle {
    width: 100%;
}
   
buttonJS:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonJS:hover .button-text {
    color: #fff;
}

/* Button card REACT */
buttonREACT {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonREACT.learn-more {
    width: 400px;
    height: auto;
}
   
buttonREACT.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #0004ff;
    border-radius: 1.625rem;
}
   
buttonREACT.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonREACT.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonREACT.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonREACT.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonREACT:hover .circle {
    width: 100%;
}
   
buttonREACT:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonREACT:hover .button-text {
    color: #fff;
}

/* Button card MONGO */
buttonMONGO {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonMONGO.learn-more {
    width: 400px;
    height: auto;
}
   
buttonMONGO.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: green;
    border-radius: 1.625rem;
}
   
buttonMONGO.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonMONGO.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonMONGO.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonMONGO.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonMONGO:hover .circle {
    width: 100%;
}
   
buttonMONGO:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonMONGO:hover .button-text {
    color: #fff;
}

/* Button card JAVA */
buttonJAVA {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonJAVA.learn-more {
    width: 400px;
    height: auto;
}
   
buttonJAVA.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: red;
    border-radius: 1.625rem;
}
   
buttonJAVA.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonJAVA.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonJAVA.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonJAVA.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonJAVA:hover .circle {
    width: 100%;
}
   
buttonJAVA:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonJAVA:hover .button-text {
    color: #fff;
}

.cardRow {
    display: flex;
    justify-content: space-between;
}
  
  
  
  
  
  
  
  
  
  
  
  
  



.footer {
    text-align: center;
    color: white;
    border-top: 2px solid white;
    margin-top: 100px;
}

.contReact {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 30%;
    background-position: 50% 4%;
}

.contJSON {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black!important;
    background-size: 40%;
    background-position: 50% 13%;
}

.contXML {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 4%;
}

.contJS {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 30%;
    background-position: 50% 12%!important;
}

.testo {
    color: white;
}

.JSONimm {
    width: 100%;
    height: 600px;
    align-items: center;
    background-color: gray;

}

.Domanda {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: cursive;
}

.JSONBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid white;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.JSONBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 1s;
}

.XMLBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid orangered;
    color: orangered;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.XMLBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    transition: 1s;
}

.JSBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid yellow;
    color: yellow;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.JSBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: yellow;
    color: black;
    border: 2px solid black;
    transition: 1s;
}

.ReactBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid rgb(13, 177, 231);
    color: rgb(13, 177, 231);
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.ReactBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: rgb(13, 177, 231);
    color: white;
    border: 2px solid black;
    transition: 1s;
}

.TXTcard {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    align-self: center;
}

.CardHome {
    background-color: black!important;
    color: white;
    border: 2px solid white!important;
}

/* INIZIO JSON */

.ContTitJSONXL {
    background-image: url("../images/JSON.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 12%!important;
    height: 600px!important;
}

.TitoloJSONXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #050402 0%,
        #4e4e4e 29%,
        #848484 67%,
        #a1a1a1 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.ContTitJSON {
    background-image: url("../images/JSON.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 12%!important;
    height: 250px!important;
}

.TitoloJSON {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #050402 0%,
        #4e4e4e 29%,
        #848484 67%,
        #a1a1a1 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 440%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.TitJSONXL {
    margin-top: 17%;
}

.TitJSON {
    margin-top: 14%;
}

.ContTitXMLXL {
    background-image: url("../images/XML.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%!important;
    background-position: 50% 30%!important;
    height: 600px!important;
}

.TitoloXMLXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff0000 0%,
        #ff5e00 29%,
        #ffa600 67%,
        #ffff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.ContTitXML {
    background-image: url("../images/XML.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 12%!important;
    height: 250px!important;
}

.TitoloXML {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff0000 0%,
        #ff5e00 29%,
        #ffa600 67%,
        #ffff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 440%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.TitXMLXL {
    margin-top: 17%;
}

.TitXML {
    margin-top: 14%;
}

.ContTitJSAvXL {
    background-image: url("../images/JSAv.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%!important;
    background-position: 50% 30%!important;
    height: 600px!important;
}

.TitoloJSAvXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff4400 0%,
        #ff7b00 29%,
        #ffc400 67%,
        #c3ff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.ContTitJSAv {
    background-image: url("../images/JSAv.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 12%!important;
    height: 250px!important;
}

.TitoloJSAv {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff4400 0%,
        #ff7b00 29%,
        #ffc400 67%,
        #c3ff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 350%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.TitJSAvXL {
    margin-top: 17%;
}

.TitJSAv {
    margin-top: 17%;
}

.ContTitREACTXL {
    background-image: url("../images/React.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%!important;
    background-position: 50% 30%!important;
    height: 600px!important;
}

.TitoloREACTXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #0004ff 0%,
        #0051ff 29%,
        #0095ff 67%,
        #00fbff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.ContTitREACT {
    background-image: url("../images/React.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 12%!important;
    height: 250px!important;
}

.TitoloREACT {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #0004ff 0%,
        #0051ff 29%,
        #0095ff 67%,
        #00fbff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 440%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.TitREACTXL {
    margin-top: 16.5%;
}

.TitREACT {
    margin-top: 14%;
}

/* animazione per i titoli */
@keyframes textclip { 
    to {
        background-position: 200% center;
    }
}

.Def {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 50px;
}

.Def2 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 20px;
}

.testo {
    color: white;
}

.imgJSON {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 40px;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.9!important;
}

.drop {
    width: 100%;
    background-color: black!important;
    color: white;
    border: 1px solid black!important;
    font-weight: bolder!important;
    font-size: 20px!important;
    border-bottom: 5px solid white!important;
}

.drop:hover {
    width: 100%;
    background-color: white!important;
    color: black!important;
    transition: 2s;
    border-bottom: 5px solid black!important;
}

.buttonM {
    background-color: Black!important;
    color: white!important;
    width: 80%;
    height: 50px;
    font-size: 20px!important;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 10%;
    opacity: 0.7;
}

.buttonM:hover {
    background-color: white!important;
    color: black!important;
    width: 80%;
    height: 50px;
    font-size: 20px!important;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 10%;
    opacity: 0.7;
}

.sepJ {
    background-image: -webkit-linear-gradient(top left, black 50%, darkgray);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2J {
    background-image: -webkit-linear-gradient(top right, black 50%, darkgray);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepX {
    background-image: -webkit-linear-gradient(top left, black 50%, orangered);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2X {
    background-image: -webkit-linear-gradient(top right, black 50%, orangered);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepJS {
    background-image: -webkit-linear-gradient(top left, black 50%, yellow);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2JS {
    background-image: -webkit-linear-gradient(top right, black 50%, yellow);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepR {
    background-image: -webkit-linear-gradient(top left, black 50%, #0095ff);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2R {
    background-image: -webkit-linear-gradient(top right, black 50%, #0095ff);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.blue {
    color: #007fff;
    font-weight: bold;
}

.yellow {
    color: #fff200;
    font-weight: bold;
}

.lightY {
    color: #ffff5f;
    font-weight: bold;
}

.white {
    color: white;
    font-weight: bold;
}

.violet {
    color: rgb(222, 0, 222);
    font-weight: bold;
}

.lightB {
    color: rgb(0, 229, 255);
    font-weight: bold;
}

.blue2 {
    color: darkcyan;
    font-weight: bold;
}

.red {
    color: rgb(255, 36, 36);
    font-weight: bold;
}

.gray {
    color: gray;
    font-weight: bold;
}

.green {
    color: rgb(0, 231, 0);
    font-weight: bold;
}

.ligthG {
    color: rgb(0, 214, 78);
    font-weight: bold;
}

.Codice{
    background: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    border-left: 5px solid white;
    margin-top: 10px;
}

.CodiceRosso{
    background: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    border-left: 5px solid red;
    margin-top: 10px;
}

.CodiceBlu{
    background: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    border-left: 5px solid #0051ff;
    margin-top: 10px;
}

pre {
    padding: 0%;
}

#tornasu{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    padding: 0px;
}

.notaBene {
    border: 2px solid red;
    color: white;
    border-radius: 50px;
}

.aiuto {
    border: 2px solid #0051ff;
    color: white;
    border-radius: 50px;
}

.LoghiFooter {
    width: 5%;
}

.LoghiFooter:hover {
    width: 6%;
    transition: 1s;
}