@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

.spazio {
    height: 100px!important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px!important;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 50px!important; /* Puoi utilizzare il valore specifico per arrotondare gli angoli della thumb */
  }
  
  /* Stile della track (sfondo della scrollbar) */
::-webkit-scrollbar-track {
    border-radius: 50px;
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    width: 2px;
}

.ContFreccia {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.FrecciaGiu {
    width: 10%!important;
}

.FrecciaGiu:hover {
    transition: 0.5s;
    width: 15%!important;
}

html {
    scroll-behavior: smooth;
  }

.cont {
    background-color: black;
}

.menuButton {
    background-color: black!important;
}

.menu {
   color: white;
   margin-top: 15px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
}

buttonM {
    background-color: black!important;
}

buttonM:hover {
    border-radius: 50px;
    transition: 2s!important;
}

buttonM:not(:hover) {
    border-radius: 0px;
    transition: 2s!important;
}

.margin {
    margin-top: 200px!important;
}

.menu:hover {
    color: black!important;
    transition: 1s ease!important;
}

.navbar-toggler {
    margin-top: 10px;
}

.navbar-toggler:hover {
    background-color: white!important;
    transition: 1s;
}

.titolo {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

nav {
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    background: linear-gradient(black, black)!important;
    z-index: 100!important;
}

.navB {
    height: 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 5px!important;
}

.back {
    background-color: black;
}

.selezione {
    font-weight: bold!important;
}

.LogoTitolo {
    text-align: center;
    width: 100%;
}

.text {
    color: white;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 40px;
    font-size: 15px;
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.activetext {
    color: white;
    width:  170px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 40px;
    font-size: 20px;
    text-decoration: underline rgba(255, 255, 255, 0.389) 2px!important;
}

.activetext:hover {
    color: white;
    transition: 1s;
    text-decoration: underline white 2px!important;
}

.Link {
    margin-right: 22%;
}

.introImm {
    display: inline-block;
    width: 35%;
    height: 600px;
    margin-left: 100px;
    margin-top: 15%;
}

.introImmMD {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.introTit {
    display: inline-block;
    justify-content: center;
    width: 55%;
    height: 600px;
    margin-top: 100px;
}

.introTitMD {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 0px;
}

.tit {
    display: flex;
    justify-content: center;
    align-items: center!important;
    color: white;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titMD {
    display: flex;
    justify-content: center;
    align-items: center!important;
    color: white;
    font-size: 60px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttMD {
    display: inline-block;
    justify-content: center;
    width: 100%;
}

button {
    --glow-color: rgb(1, 139, 219);
    --glow-spread-color: rgba(0, 65, 163, 0.781);
    --enhanced-glow-color: rgb(206, 227, 255);
    --btn-color: rgb(6, 0, 95);
    border: .25em solid var(--glow-color);
    cursor: pointer;
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 50px!important;
    margin-left: 20%!important;
    border-radius: 50px!important;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2.5em);
    opacity: 1;
    transform: perspective(1.5em) rotateX(-35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-decoration: none!important;
   }
   
   button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    transform: scale(0.95);
   }



   button2 {
    --glow-color: rgb(1, 139, 219);
    --glow-spread-color: rgba(0, 65, 163, 0.781);
    --enhanced-glow-color: rgb(206, 227, 255);
    --btn-color: rgb(6, 0, 95);
    border: .25em solid var(--glow-color);
    cursor: pointer;
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 50px!important;
    margin-left: 20%!important;
    border-radius: 50px!important;
  }
  
  button2::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2.5em);
    opacity: 1;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }

  button2 svg {
    transform: translateX(10px);
    transition: transform .3s ease-in-out;
  }
  
  button2:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }
  
  button2:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
    transform: scale(0.95);
  }
  
  button2:hover svg {
    transform: translateX(20px) rotate(90deg) scale(1.5)!important;
  }
  
  

.autore {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.autoreMD {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.sottoAutoreMD {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.immIntro {
    margin-left: 200px;
}

.sfondoHome {
    background-image: url("../images/CodiceHome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 200px;
    width: 100%;
    background-size: 100%;
    opacity: 0.5!important;
}

.imm {
    height: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 300%;
}

.Intro {
    color: white;
    font-weight: bold!important;
}

.Intro:hover {
    color: white;
    transition: 1s;
    font-size: 70px;
}

.textVAI {
    color: white;
    font-weight: bold;
    width:  400px;
    height: 80px;
    text-align: center;
    border-radius: 40px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    animation-duration: 2s;
}

.textVAI:hover {
    color: black;
    background-color: white;
    transition: 1s;
    text-decoration: underline 3px;
}

/* card */
.card1 {
    position: relative;
    width: 450px;
    height: 500px;
    color: black;
    background: black;
    overflow: hidden;
    border-top-right-radius: 50px!important;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 50px!important;
    padding: 6px 12px;
    color: black;
    background-color: black;
  }
  
  .card_title {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    z-index: 20;
    color: white!important;
  }

  .card_titleSM {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    z-index: 20;
    color: white!important;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: black;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
    color: white;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px black;
  }
  
  .card_title {
    color: white;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    height: 150px;
  }
  
  .card1:hover .card_content {
    transform: translateY(0);
  }
  
  .card1:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }

/* Button card JSON */
buttonJSON {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonJSON.learn-more {
    width: 400px;
    height: auto;
}
   
buttonJSON.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #616161;
    border-radius: 1.625rem;
}
   
buttonJSON.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonJSON.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonJSON.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonJSON.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonJSON:hover .circle {
    width: 100%;
}
   
buttonJSON:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonJSON:hover .button-text {
    color: #fff;
}

/* Button card XML */
buttonXML {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonXML.learn-more {
    width: 400px;
    height: auto;
}
   
buttonXML.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: orangered;
    border-radius: 1.625rem;
}
   
buttonXML.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonXML.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonXML.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonXML.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonXML:hover .circle {
    width: 100%;
}
   
buttonXML:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonXML:hover .button-text {
    color: #fff;
}

/* Button card JS AVANZATO */
buttonJS {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonJS.learn-more {
    width: 400px;
    height: auto;
}
   
buttonJS.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: yellow;
    border-radius: 1.625rem;
}
   
buttonJS.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonJS.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonJS.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonJS.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonJS:hover .circle {
    width: 100%;
}
   
buttonJS:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonJS:hover .button-text {
    color: #fff;
}

/* Button card REACT */
buttonREACT {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonREACT.learn-more {
    width: 400px;
    height: auto;
}
   
buttonREACT.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #0004ff;
    border-radius: 1.625rem;
}
   
buttonREACT.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonREACT.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonREACT.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonREACT.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonREACT:hover .circle {
    width: 100%;
}
   
buttonREACT:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonREACT:hover .button-text {
    color: #fff;
}

/* Button card MONGO */
buttonMONGO {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonMONGO.learn-more {
    width: 400px;
    height: auto;
}
   
buttonMONGO.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: green;
    border-radius: 1.625rem;
}
   
buttonMONGO.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonMONGO.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonMONGO.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonMONGO.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonMONGO:hover .circle {
    width: 100%;
}
   
buttonMONGO:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonMONGO:hover .button-text {
    color: #fff;
}

/* Button card JAVA */
buttonJAVA {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
   
buttonJAVA.learn-more {
    width: 400px;
    height: auto;
}
   
buttonJAVA.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: red;
    border-radius: 1.625rem;
}
   
buttonJAVA.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
buttonJAVA.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
buttonJAVA.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}
   
buttonJAVA.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
   }
   
buttonJAVA:hover .circle {
    width: 100%;
}
   
buttonJAVA:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
buttonJAVA:hover .button-text {
    color: #fff;
}

.cardRow {
    display: flex;
    justify-content: space-between;
}

.footer {
    text-align: center;
    color: white;
    border-top: 2px solid white;
    margin-top: 100px;
}

.contReact {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 30%;
    background-position: 50% 4%;
}

.contJSON {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black!important;
    background-size: 40%;
    background-position: 50% 13%;
}

.contXML {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 50%;
    background-position: 50% 4%;
}

.contJS {
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 30%;
    background-position: 50% 12%!important;
}

.testo {
    color: white;
}

.testoElenco {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    display: flex!important;
    justify-content: center!important;
    margin-left: 47%;
}

.testoElencoDescr {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testoElencoAttenzione {
    color: red;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
}

.imgElenco {
    width: 100%;
}

.JSONimm {
    width: 100%;
    height: 600px;
    align-items: center;
    background-color: gray;

}

.Domanda {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: cursive;
}

.JSONBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid white;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.JSONBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 1s;
}

.XMLBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid orangered;
    color: orangered;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.XMLBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    transition: 1s;
}

.JSBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid yellow;
    color: yellow;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.JSBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: yellow;
    color: black;
    border: 2px solid black;
    transition: 1s;
}

.ReactBut {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: 2px solid rgb(13, 177, 231);
    color: rgb(13, 177, 231);
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.ReactBut:hover {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: rgb(13, 177, 231);
    color: white;
    border: 2px solid black;
    transition: 1s;
}

.TXTcard {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    align-self: center;
}

.CardHome {
    background-color: black!important;
    color: white;
    border: 2px solid white!important;
}

/* INIZIO JSON */

.TitoloJSONXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #050402 0%,
        #4e4e4e 29%,
        #848484 67%,
        #a1a1a1 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 21.5vh;
}

.TitoloXMLXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff0000 0%,
        #ff5e00 29%,
        #ffa600 67%,
        #ffff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 21.5vh;
}

.TitoloJSAvXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #ff4400 0%,
        #ff7b00 29%,
        #ffc400 67%,
        #c3ff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 400%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 28.5vh;
}

.TitoloREACTXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #0004ff 0%,
        #0051ff 29%,
        #0095ff 67%,
        #00fbff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 21.5vh;
}

.TitoloMongoXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #144200 0%,
        #00a431 29%,
        #00ff59 67%,
        #88ff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 440%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 27.5vh;
}

.TitoloJavaXL {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #0015ff 0%,
        #005eff 29%,
        #ff6200 67%,
        #ff0000 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 880%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 21.5vh;
}

.boxSinistra {
    display: inline-block;
    justify-content: center!important;
    width: 40%;
    height: 80vh;
    text-align: center!important;
}

.boxCentro {
    display: inline-block;
    justify-content: center!important;
    width: 0.2%;
    height: 300px;
    margin-top: 150px;
    text-align: center!important;
    background-color: white;
}

.boxDestra {
    display: inline-block;
    width: 40%;
    height: 80vh;
}

.margIndJSON {
    margin-top: 23vh!important;
}

.margIndXML {
    margin-top: 24vh!important;
}

.margIndJSAv {
    margin-top: 28vh!important;
}

.margIndReact {
    margin-top: 19vh!important;
}

.margIndMongo {
    margin-top: 23vh!important;
}

.margIndJava {
    margin-top: 23vh!important;
}

/* animazione per i titoli */
@keyframes textclip { 
    to {
        background-position: 200% center;
    }
}

.Def {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 50px;
}

.Def2 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 20px;
}

.Def3 {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 50px;
}

.indice {
    display: flex;
    justify-content: center;
    border: 2px dashed white;
    width: 80%;
    color: white;
    margin-left: 25%;
    border-radius: 10px;
}

.titIndice {
    font-weight: bold;
    font-size: 20px;
    height: 100%;
    display: flex!important;
    justify-content: center!important;
    text-align: center!important;
}

.riga {
    color: white!important;
}

.riga:hover {
    text-decoration:line-through;
}

.testo {
    color: white;
}

.imgJSON {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 40px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 0.7!important;
}

.drop {
    width: 100%;
    background-color: black!important;
    color: white;
    border: 1px solid black!important;
    font-weight: bolder!important;
    font-size: 20px!important;
    border-bottom: 5px solid white!important;
}

.drop:hover {
    width: 100%;
    background-color: white!important;
    color: black!important;
    transition: 2s;
    border-bottom: 5px solid black!important;
}

.buttonM {
    background-color: Black!important;
    color: white!important;
    width: 80%;
    height: 50px;
    font-size: 20px!important;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 10%;
    opacity: 0.7;
}

.buttonM:hover {
    background-color: white!important;
    color: black!important;
    width: 80%;
    height: 50px;
    font-size: 20px!important;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 10%;
    opacity: 0.7;
}

.sepJ {
    background-image: -webkit-linear-gradient(top left, black 50%, darkgray);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2J {
    background-image: -webkit-linear-gradient(top right, black 50%, darkgray);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepX {
    background-image: -webkit-linear-gradient(top left, black 50%, orangered);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2X {
    background-image: -webkit-linear-gradient(top right, black 50%, orangered);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepJS {
    background-image: -webkit-linear-gradient(top left, black 50%, yellow);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2JS {
    background-image: -webkit-linear-gradient(top right, black 50%, yellow);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepR {
    background-image: -webkit-linear-gradient(top left, black 50%, #0095ff);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2R {
    background-image: -webkit-linear-gradient(top right, black 50%, #0095ff);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepM {
    background-image: -webkit-linear-gradient(top left, black 50%, #059600);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2M {
    background-image: -webkit-linear-gradient(top right, black 50%, #059600);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.sepJa {
    background-image: -webkit-linear-gradient(top left, black 50%, #8a0000);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.sep2Ja {
    background-image: -webkit-linear-gradient(top right, black 50%, #8a0000);
    height: 7px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.blue {
    color: rgb(23,134,149);
}

.yellow {
    color: rgb(255,191,14);
}

.lightY {
    color: rgb(214,220,152);
}

.white {
    color: white;
}

.violet {
    color: rgb(66,88,171);
}

.lightB {
    color: rgb(132,220,240);
}

.blue2 {
    color: rgb(0, 117, 190);
}

.red {
    color: rgb(255, 89, 0);
}

.titRed {
    color: red;
}

.gray {
    color: gray;
}

.green {
    color: rgb(103,153,81);
}

.ligthG {
    color: rgb(78,201,176);
}

.Codice{
    background: rgb(31, 31, 31);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    border: 2px solid white;
    margin-top: 10px;
}

.CodiceRosso{
    background: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    border: 1px solid red;
    margin-top: 10px;
}

.CodiceBlu{
    background: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 18px;
    border: 1px solid #0051ff;
    margin-top: 10px;
}

pre {
    padding: 0%;
}

#tornasu{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    padding: 0px;
}

.notaBene {
    border: 1px dashed red;
    color: white;
    border-radius: 50px;
}

.aiuto {
    border: 2px solid #0051ff;
    color: white;
    border-radius: 50px;
}

.LoghiFooter {
    width: 3%;
}

.LoghiFooter:hover {
    transform: rotate3d(1, 1, 0, 360deg);
    transition: 1s;
}

.Dom {
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: cursive;
    font-weight: bold;
}

.Descr {
    color: white;
    font-size: 15px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.descrButt {
    display: inline;
    justify-content: center;
    align-items: center!important;
    margin-top: 5%;
}

.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
    margin-left: 20px;
}
  
.btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: white;
    transition: .5s ease;
    border-radius: 50px;
}
  
.btn:hover {
    color: white;
    transition-delay: .5s;
}
  
.btn:hover::before {
    width: 100%;
}
  
.btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: .4s ease;
    z-index: -2;
}
  
.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: white;
}

hr {
    background-color: white;
}

.profilSep {
    display: inline-flex;
    justify-content: space-between;
}

.contDom {
    margin-top: 20px;
    margin-bottom: 50px;
}

buttonDenina {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
}

buttonDenina.learn-more {
    width: 20rem;
    height: auto;
}

buttonDenina.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(4,206,255);
    border-radius: 1.625rem;
}

buttonDenina.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

buttonDenina.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

buttonDenina.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;

    transform: rotate(45deg);
}

buttonDenina.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 200px;
}

buttonDenina:hover .circle {
    width: 120%;
}

buttonDenina:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

buttonDenina:hover .button-text {
    color: #fff;
}

.GitImm {
    width: 80%!important;
}

.GitImmSM {
    width: 60%;
}

.MarginLeft {
    margin-left: 50%!important;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 99;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#back-to-top:hover {
    transform: translateY(-50px);
    transition: 1s ease;
}

#back-to-top:not(:hover) {
    transform: translateY(0px);
    transition: 1s ease;
}

.TabellaComandi {
    margin-left: 10%;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-left: 10%!important;
}

th, td {
    padding: 8px;
    text-align: center!important;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bolder!important;
    color: black;
    font-size: 15px;
}

td {
    color: white;
}

tr:hover {
    opacity: 0.7;
    transition: 0.5s;
}

tr:not(:hover) {
    font-weight: null;
    transition: 0.5s;
}  

.righetta {
    border-right: 1px solid #f2f2f2;
}